{% extends 'layout.njk' %}

{% import '_parts/card.njk' as card %}
{% block content %}

{% call card.render('Detalhes', 'password container') %}

    <form method="POST" action="/users?_method=PUT">

      <div class="fields">
      {% if error %}
        <div>{{error}}</div>
      {%endif%}
        {% include 'user/fields.njk' %}
        <input type="hidden" name="id" value="{{user.id}}">
      </div>
      <button class="button edit" type="submit">Atualizar</button>
    </form>

    <form id="form-delete" action="/users?_method=DELETE" method="POST">
      <input type="hidden" name="id" value="{{user.id}}">
      <button class="button delete" type="submit">Deletar</button>
    </form>
  {%endcall%}

  <script>
    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener('click', e =>{
      const confirmation = confirm('Tem certeza que deseja deletar sua conta?')
      if(!confirmation){
        e.preventDefault()
      }
    })
  </script>
{% endblock content %}